.header{
    height:65px;
    display:flex;
    align-items:center;
    background-color: #131921;
    position:sticky;
    top:0;
    z-index: 100;
}
.header_logo{
    width:110Px;
    object-fit: contain;
    margin: 0 25px; 
    margin-top:16px;
}
.header_search{
    display:flex;
    flex:1;
    align-items:center;
    border-radius:24;
   

}
.header_searchInput{
    height: 12px;
    padding:15px;
    border:none;
    border-radius:4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width:100%;
}

.header_searchIcon{
    padding: 10px;
    height:22px !important;
    background-color: #fcbb6c;
    border-radius:4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.header_nav{
    display:flex;
    justify-content:space-evenly;
}
.header_option{
    display:flex;
    flex-direction:column;
    margin-left: 20px;
    color:white;
}
.header_optionOne{
    font-size:12px;
}
.header_optionTwo{
    font-size:15px;
    font-weight: 700;
}
.header_optionBasket{
    display:flex;
    align-items:center;
    color:white;
    margin:0 10px;
}
.header_basketCount{
   color:#fcbb6c;
   font-size: 1.25rem;
}
